{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >

    <title>About Us</title>
    <style>
      .nav-link{
        font-weight:bold;
      }
      ul li .nav-link:hover{
        background-color:blue;
        color:white!important;
        border-radius:5px;
      }
      .active{
	    background-color:blue;
	    color:white!important;
	    border-radius:5px;
	    }
      .ul_social{
        list-style:none;
      }
      .li_social{
        float:left;
        padding:10px;
        width:40px;
        border-radius:50%;
        margin-left:7px;
      }
      .li_social:hover{
        background-color:orange;
      }
      i{
        margin-left:4px;
      }
      .fb_back{
        background-color:blue;
      }
      .li_back{
        background-color:red;
      }
      .tw_back{
        background-color:skyblue;
      }
      .ins_back{
        background-color:pink;
      }
      
    </style>
</head>
<body>
  
    <div class="container-fluid bg-dark">
        <div class="row text-white p-2">
            <div class="col-md-6">Phone:-8953831639 Email:-saurabh.kanaujia020@gmail.com</div>
            <div class="col-md-6">
              
              <ul class="ul_social float-right">
                <li class="li_social fb_back"><i class="fa fa-facebook"></i></li>
                <li class="li_social li_back"><i class="fa fa-linkedin-square"></i></li>
                <li class="li_social ins_back"><i class="fa fa-instagram"></i></li>
                <li class="li_social tw_back"><i class="fa fa-twitter-square"></i></li>
              </ul>
          </div>
      </div>
    </div>
    <div class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">LOGO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/contact">Contact Us</a>
              </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
            </div>
          </nav>  
      
    <div class="container-fluid ">
      <div class="row">
      <div class="col-md-2"></div>
          <div class="col-md-8 text-justify">
            <p><h4>About Us</h4><br>Analyze Infotech is a rapidly growing IT software company specialising in software technologies of recent trends such as Java, .Net, Android, PHP, Web Designing, WordPress, Joomla, and Search Engine Optimization & Social Media Marketing. Analyze Infotech is a professionally operated foundation imparting full range of understanding in the software technology that is considered to be mandatory in the contemporary IT scenario.
            At Analyze Infotech we provide complete end-to-end solutions based on our expertise in the field of e-technology.
            We undertake projects involving technologies like J2EE, JSP, ASP.NET, PHP, CMS(Wordpress, Joomla, Magento, Drupal), Flash, Director, 3D-Max, XML and RDBMS, such as Oracle and SQL server. From helping companies integrate customer-centric strategies and emerging technologies into innovative e-business models, to developing multi-channel solutions that coordinate these new channels with the traditional customer touch points of telephone, catalogues, call centers and brick-and-mortar facilities, we help our clients redefine their business, differentiate themselves from their competitors, and reshape their industries.We offer best Java Training in lucknow. We have expert trainers with real time experience and having excellent teaching track.
            Our Java Training Course ensure that students learn the core and advanced topics required for a successful career in the field of Java Development.
            Our training course has helped many job seekers, corporate professionals and learners to improve their technical as well as soft skills in order to become a proficient professional.<br>
            <br><h4>Our Main Strategy Goals Are As Follows:-</h4><br>
            To grants high quality and cost adequate training.
            To cultivate and train learners in various fields of information technology desired by industry along with the general education.
            To provide a conductive learning atmosphere to cherish the growth of professional education
            To transform students into professionals.<br><br>
            <h4>What We Offer Our :</h4><br>
            100% job guarantee on Professional Courses.
            Top notch training by highly qualified and experienced experts.
            Real life live international project exposure
            Live experience of working with the industry team.
            Practical training modules .
            Flexible lab hours to suit your schedule.<br>
            <h4>Academy Of Learning Offers Students :</h4><br>
            Deliver an effective approach to career training.
            Provide industry standard equipment and software.
            Offer career specific programs.
            Maintain an environment conducive to learning.
            Schedule flexible class hours.
            Offer job search assistance and services .</p>
            
          </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="container-fluid text-light bg-dark">
        <div class="row">
            <div class="col-md-3 mp-5">
                <h5>Quick Links</h5>
                <ul>
                    <hr></hr>
                    <li >Home</LI>
                    <li>About Us</li>
                    <li >Contact Us</li>
                    <li >Register</li>
                    <li >Our Services</li>
                    <li >Our Network</li>
                    <li >Software</li>
                    <li >Hardware</li>
                </ul>
            
            </div>
            <div class="col-md-3">
              <h5>Training</h5>
              <ul>
                  <hr></hr>
                  <li >Home</LI>
                  <li >About Us</li>
                  <li >Contact Us</li>
                  <li >Register</li>
                  <li >Our Services</li>
                  <li >Our Network</li>
                  <li >Software</li>
                  <li >Hardware</li>
              </ul></div>
            <div class="col-md-3">
              <h5>About Us</h5><hr></hr>
              <ul>
                  <li >Home</LI>
                  <li>About Us</li>
                  <li >Contact Us</li>
                  <li >Register</li>
                  <li >Our Services</li>
                  <li >Our Network</li>
                  <li >Software</li>
                  <li >Hardware</li>
              </ul></div>
            <div class="col-md-3"><h5>Contact Us</h5>
              <ul>
                  <hr></hr>
                  <li >Home</LI>
                  <li>About Us</li>
                  <li >Contact Us</li>
                  <li >Register</li>
                  <li >Our Services</li>
                  <li >Our Network</li>
                  <li >Software</li>
                  <li >Hardware</li>
              </ul>
            </div>
        </div>
    </div>


    <script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>    
</body>
</html>