{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Change Password</title>
{% include 'web-css.html' %}
<style type="text/css">
	
</style>
</head> 
<body>
    {{ user.is_authenticated }}
	
{% include 'soft-menu.html' %}
<div class="container-fluid">
        
	<div class="signup-form" style="width:650px;">
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-error">{{ message }}</div>
    {% endfor %}
    <form action="{% url 'change_password' %}" method="POST">
            {% csrf_token %}
		{% for message in messages %}
			{{ message }}
		{% endfor %}
        {{ form }}
        <input type="submit" class="btn-success" name="change_password" value="Change Password">
    </form>
    </div>
</div>

{% include 'footer.html' %}

{% include 'web-js.html' %}
</body>
</html>                                                        